.canvas-container {
  position: relative;
  /* wid */

  .canvas-background {
    background-image: url('@assets/screenshot1.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .cavans-item {
    position: absolute;
    left: 0;
    top: 0;
  }

  .canvas-entity {
    background-image: url('https://cdn.example.com/banner.ed60f30fd9b7a524caac.png');
    height: 200px;
  }
}
